[submodule "themes/hugo-theme-minos"]
	path = themes/hugo-theme-minos
	url = https://github.com/carsonip/hugo-theme-minos
[submodule "public"]
	path = public
	url = https://github.com/legnacra/legnacra.github.io.git
	branch = main
[submodule "themes/even"]
	path = themes/even
	url = https://github.com/olOwOlo/hugo-theme-even
